/* styles in src/style directory are applied to the whole page */

body {
  background: rgb(255, 255, 255);
  color: #000;
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

/* 
Highcharts width exceeds container div on first load
https://stackoverflow.com/questions/18240254/highcharts-width-exceeds-container-div-on-first-load 
*/
.highcharts-container,
.highcharts-root {
  width: 100% !important;
  height: 100% !important;
}

.dashboard-header {
  margin: 3em 0;
}

.dashboard-header h1 {
  display: inline;
}

.my-group .form-control {
  width: 50%;
}

.added-sensors-panel {
  margin-bottom: .5em;
}

.close {
  color: #ff0000;
  opacity: .7;
}

.series-color-picker {
  display: inline-block;
  vertical-align: middle;
}

.series-color-picker button {
  display: inline-block;
  vertical-align: top;

}

.series-color-picker color-picker {
  display: inline-block;
  width: min-content;
}

.close.series {
  position: absolute;
  top: 7px;
  right: 10px;
}

.dashboard-header .btn-group {
  margin-right: 20px;
}