<h1>My charts</h1>

<div>
  <button type="button" class="btn btn-success btn-lg" ng-click="$ctrl.addNewChart()">+ ADD</button>
</div>

<div ng-repeat="chart in $ctrl.charts | orderBy:'$index':true">

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Panel title {{$index}}
        <button type="button" class="close" aria-label="Close" ng-click="$ctrl.onCloseChart($index, chart.id);">
          <span aria-hidden="true">&times;</span>
        </button>
      </h3>
    </div>
    <div class="panel-body">
      <chart id="{{$index}}"></chart>

      <div class="panel panel-default">
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
</div>

</div>